body{
    background-color: hsl(14, 45%, 36%);
}

.container{
    width: 840px;
    margin: 0 auto;
    padding: 0 28px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

img{
    margin-top: 25px;
    width: 100%;
    border-radius: 10px;
}

.b{
    background-color: hsl(330, 100%, 98%);
    border-radius: 20px;
    padding: 10px;
}

h2{
    color: hsl(332, 51%, 32%);
}

.a1{
    display: flex;
    color: hsl(332, 51%, 32%);
}

.a1 p {
    margin-right: 50%;
}

.b1{
    display: flex;
    color: hsl(332, 51%, 32%);
}

.b1 p {
    margin-right: 52%;
}

.c1{
    display: flex;
    color: hsl(332, 51%, 32%);
}

.c1 p{
    margin-right: 51%;
}

.d1{
    display: flex;
    color: hsl(332, 51%, 32%);
}

.d1 p{
    margin-right: 54%;
}

.al li{
    margin-top: 10px;
}

.ul li{
    margin-top: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }